.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.footer-container .inner-container {
  width: 100%;
  padding: 72px 256px;
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.footer-container .column-one,
.footer-container .column-two {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-light);
}

.footer-container .column-one h3,
.footer-container .column-two h3 {
  color: var(--highlight);
  margin-bottom: 8px;
}

.footer-container .column-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-three .icon-row {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.column-three .circle {
  width: 32px;
  height: 32px;
  background-color: var(--highlight);
  border-radius: 50%;
}

.column-three .rectangle {
  width: 128px;
  height: 32px;
  background-color: var(--highlight);
  border-radius: 8px;
}
