.Landing-Container {
  background-color : white ; 
  min-height: 100vh;
  width: 100vw; /* Add this to ensure it spans the full width */
  overflow: hidden;
}
.Upper-Halve {
  min-width : 100vh ;
  height : 525px ;
  background-color: var(--primary);
  border-radius : 0px 0px  96px 96px ; 
  display : flex ; 
  align-items : center ; 
  justify-content : center ; 
  flex-direction : column ; 
  font-family : 'Helvetica' ; 
  gap : 20px ;
}



.Upper-Halve .Header{
  font-weight : 600 ; 
  font-size : 48px ; 
  text-align : center ; 
}

.Upper-Halve .Subtext{
  font-weight : 300 ; 
  font-size : 18px ; 
  text-align : center ; 
  opacity : 0.7 ;  
}
